@import "rsuite/dist/rsuite.css";

#root{ padding: 0px; }

.main-content {
    padding-top: 60px;
}

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(-10%);
    z-index: 1;
    position: relative;
}

.welcome-container h1 {
    text-decoration: underline;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    transform: translateY(-10%);
}

.ticket-wrapper {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; 
    max-width: 600px;
    width: 100%; 
}

.custom-navbar {
    background-color: #446FFF;
    color: #fff;
    border-radius: 0.5px;
    position: fixed;
    top: 0;
    width: 100%;

}

.custom-navbar-brand {
    color: #fff;
}

.custom-nav-item {
    color: #fff;
}

.custom-nav-item:hover {
    color: #ddd;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transform: translateY(-10%);
    z-index: 1;
    position: relative;
}